/* Global styling */
body {
    margin: 0; 
    font-family: Helvetica, sans-serif;
}

.content {
    padding: 0 180px; 
    display: flex; 
    align-items: center;
}

/* Header styling */ 
header {
    background-color: #1F2937;
    justify-content: space-between;
}

header h2 {
    font-size: 24px;
    color: #F9FAF8; 
}

header a {
    font-size: 18px;
    color: #E5E7EB; 
    text-decoration: none;
    padding: 0 10px; 
}
